
@model NasaMarsImagesWeb.Models.Folder
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">NASA Mars Images</h1>
    <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
        <div class="form-group"> 
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2" title=" Select Date and click Submit !">
                    <select asp-for="Path"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListofFolders,"Path", "Name"))">
                    </select>                    
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                    <input id="Submit1" class="btn btn-primary" type="submit" value="submit" />
                </div>
            </div>
        </div>
    </form>

    <div>
        @foreach (var imgpath in ViewBag.Images)
        {
            <img class="img"  src="@Url.Content(imgpath)"  />
        }
    </div>
</div>
